@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  background-color: #040e1f;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Space Mono", monospace;
}

.info {
  display: flex;
  justify-content: space-evenly;
}

.avatar {
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 36vh;
}

.image-size {
  height: 40vh;
  max-width: 80vw;
}

.image-item {
  max-width: 80vh;
  border: 1px #fff solid;
  border-radius: 85px;
}

.MuiPaper-rounded.image-item {
  border-radius: 20px !important;
}

.photo-date {
  text-align: right;
}
