@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  background-color: #040e1f;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Space Mono", monospace;
}

a {
  color: skyblue;
}

a:hover {
  color: 3372d6;
}

.title {
  font-size: 50px;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.info {
  display: flex;
  justify-content: space-evenly;
}

.overlay-container {
  position: absolute;
  right: 1rem;
  top: 37vh;
  z-index: 999;
}

.image-size {
  height: 41vh;
  object-fit: cover;
  width: 100%;
}

.card-image:hover {
  opacity: 0.7;
  cursor: pointer;
}

.image-item {
  width: 50vh;
  border: 1px #fff solid;
  border-radius: 85px;
  position: relative;
}
/* animation: fadeInOpacity 0.9s ease-in; */

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .image-item:hover {
  border: 1px red solid;
} */

.MuiPaper-rounded.image-item {
  border-radius: 20px !important;
}

.avatar-name {
  font-size: 20px;
  padding-left: 5px;
}

.photo-date {
  text-align: right;
}

.navigation {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.footer {
  padding: 4rem 5rem 1rem;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
