@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  background-color: #040e1f;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Space Mono", monospace;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.info {
  display: flex;
  justify-content: space-evenly;
}

.overlay-container {
  position: absolute;
  right: 1rem;
  top: 37vh;
  z-index: 999;
}

/* .overlay-icon {
  display: flex;
  justify-self: flex-end;
} */

.image-size {
  height: 40vh;
  /* max-width: 50vw; */
  object-fit: contain;
}

.image-item {
  max-width: 80vh;
  border: 1px #fff solid;
  border-radius: 85px;
  position: relative;
}

/* .image-item:hover {
  border: 1px red solid;
} */

.MuiPaper-rounded.image-item {
  border-radius: 20px !important;
}

.photo-date {
  text-align: right;
}
